* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

.wrap {
    margin: 10px;

    header {
        img {
            width: 100%;
        }
    }

    .menu {
        position: relative;
        height: 25px;
        margin-top: 10px;

        p {
            font-size: 13px;

            i {
                font-size: 25px;
                color: #fff;
                position: absolute;
                right: 0;
                animation: burger 2s infinite linear;

                @keyframes burger {
                    50% {
                        color: #666;
                    }

                    to {
                        color: #fff;
                    }
                }
            }
        }
    }

    .nav {
        position: fixed;
        right: -100vw;
        background-color: #fff;
        margin-top: 5px;
        color: #000;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: inset -40px 0 120px 0 rgba(0, 0, 0, .8);
        transition: .2s;
        overflow: hidden;

        &--navOpen {
            right: -5px;
        }

        li {
            margin: 5px;
            font-weight: normal;
            padding: 2px 20px;
            list-style: none;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    main {
        img {
            width: 100%;
        }

        .text {
            text-align: center;

            h1 {
                font-size: 15px;
                margin: 8px 0;
            }

            p {
                font-size: 12px;

                &:nth-last-child(1) {
                    margin-top: 6px;
                }
            }
        }
    }
}